body {
    color: white;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page covers at least the full viewport height */
    margin: 0;
}

.div_body {
    margin: 0 40px 100px 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Navbar */
.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar-logo {
    text-align: center;
    padding: 20px 0;
}

.navbar-logo img {
    width: 170px;
    height: auto;
}

.navbar-links {
    text-align: center;
    background-color: #444;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar-links a:hover {
    background-color: #555;
}

/* ---------------------------------------- Footer */
footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;

    margin-top: auto; /* Push the footer to the bottom */
}

.footer-row {
    margin: 10px;
}

.footer-row img {
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

/* ---------------------------------------- Breadcrumb */
ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    color: white;
    /* background-color: #eee; */
    margin: 10px 0 30px 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #b1b1b1;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #8b8b8b;
}