body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
}

/* ---------------------------------------- Navbar */
.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar-logo {
    text-align: center;
    padding: 20px 0;
}

.navbar-logo img {
    width: 170px;
    height: auto;
}

.navbar-links {
    text-align: center;
    background-color: #444;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar-links a:hover {
    background-color: #555;
}

/* ---------------------------------------- Breadcrumb */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    color: white;
    /* background-color: #eee; */
    margin: 10px 500px 10px 30px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #b1b1b1;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #8b8b8b;
}

/* ---------------------------------------- Card */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}