.selected-seat {
    background-color: #007bff;
    color: #fff;
}

/* Style for the "Go to Online Deals" button */
.button-container {
    margin: 15px 0 0 0;
    text-align: center;
}

.link-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

#go-to-online-deals-button,
#go-back-button {
    margin-right: 10px;
}