.thank-you-container {
    text-align: center;
    padding: 20px;
}

.centered-button {
    text-align: center;
    margin-top: 20px;
}

.back-to-home-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.back-to-home-button:hover {
    background-color: #2980b9;
}